html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
}

.nav {
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: fixed;
    width: 280px;
    left: 0;
    height: 100%;
    top: 0;
}

.nav-logo {
    text-align: center;
    padding: 30px 0 0 0;
}

.nav-ver {
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-bottom: 15px;
}

.nav-logo img {
    width: 160px;
}

.nav-menu {
    display: absolute;
    top: 105px;
    left: 0;
    height: calc(100% - 105px);
    overflow-y: auto;
}

.nav-menu-item {
    font-size: 14px;
    color: #aaa;
    line-height: 24px;
    padding: 10px 25px;
    transition: all 0.2s linear;
}

    .nav-menu-item:hover, .nav-menu-item.active {
        color: #fff;
        background: rgba(255,255,255,0.1);
        cursor: pointer;
    }

.nav-menu-icon {
    background: #aaa;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    transition: all 0.2s linear;
}

.nav-menu-group {
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    background: #333;
    padding: 0 15px;
}

.nav-menu-item:hover .nav-menu-icon.yellow, .nav-menu-item.active .nav-menu-icon.yellow {
    background: #dcb827;
    color: #fff;
}

.nav-menu-item:hover .nav-menu-icon.blue, .nav-menu-item.active .nav-menu-icon.blue {
    background: #3766eb;
    color: #fff;
}

.nav-menu-item:hover .nav-menu-icon.green, .nav-menu-item.active .nav-menu-icon.green {
    background: #2cab26;
    color: #fff;
}

.nav-menu-item:hover .nav-menu-icon.pink, .nav-menu-item.active .nav-menu-icon.pink {
    background: #d73297;
    color: #fff;
}

.nav-menu-item:hover .nav-menu-icon.orange, .nav-menu-item.active .nav-menu-icon.orange {
    background: #ce7139;
    color: #fff;
}

.nav-menu-item:hover .nav-menu-icon.cyan, .nav-menu-item.active .nav-menu-icon.cyan {
    background: #2cb79b;
    color: #fff;
}

.nav-menu-item:hover .nav-menu-icon.purple, .nav-menu-item.active .nav-menu-icon.purple {
    background: #8b30c4;
    color: #fff;
}

.nav-menu-item:hover .nav-menu-icon.red, .nav-menu-item.active .nav-menu-icon.red {
    background: #ff4040;
    color: #fff;
}

.main {
    position: fixed;
    width: calc(100% - 280px);
    height: 100%;
    left: 280px;
    top: 0;
    overflow-y: auto;
    color: #fff;
}

.container {
    padding: 25px;
}

.main-title {
    font-size: 24px;
    line-height: 108px;
    padding: 0 25px;
}

.main-nav {
    font-size: 10px;
    color: #fff;
    line-height: 24px;
    background: rgba(255,255,255,0.2);
    padding: 0 25px;
}

.btn {
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 12px;
    background: rgba(255,255,255,0.5);
    color: #000;
    text-align: center;
    min-width: 40px;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-small {
    font-size: 10px;
    padding: 5px 10px;
    line-height: 10px;
}

    .btn:hover {
        background: rgba(255,255,255,0.85);
    }

.container {
    color: #fff;
}

.table {
    border-collapse: collapse;
    width: 100%;
    color: #fff;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .table thead {
        background: rgba(255,255,255,0.1);
    }

    .table tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .table th {
        text-align: left;
        font-weight: normal;
    }

    .table thead {
        border-top: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }

    .table tbody {
        border-bottom: 2px solid #ccc;
    }

        .table tbody.thin {
            border-bottom: 1px solid #ccc;
        }

    .table th, .table td {
        font-size: 12px;
        padding: 8px 15px;
    }

.tab {
    background: rgba(255,255,255,0.15);
    padding: 10px 25px;
    font-size: 14px;
    color: #fff;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-top: -1px;
    cursor: pointer;
}

.tab-active {
    visibility: hidden;
    display: none;
}

.tab-inactive {
    visibility: visible;
    display: inline-block;
}

.tab.active .tab-active {
    visibility: visible;
    display: inline-block;
}

.tab.active .tab-inactive {
    visibility: hidden;
    display: none;
}

.tab-icon {
    margin-right: 8px;
}

.tab:first-child {
    margin-top: 0;
}

.tab-toggle-btn {
    float: right;
    cursor: pointer;
}

.section-title {
    font-size: 16px;
    margin-bottom: 15px;
}

.notification {
    position: fixed;
    right: 0;
    top: 50px;
    width: 380px;
    background: rgb(57,57,57);
    border-left: 5px solid #ccc;
    z-index: 999999;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    margin-right: -380px;
    opacity: 0;
    padding: 10px 15px;
    transition: margin 0.2s linear, opacity 0.2s linear;
}

    .notification.active {
        margin-right: 0;
        opacity: 1;
    }

    .notification.succeeded {
        color: #16b368;
        border-left: 5px solid #16b368;
    }

    .notification.warning {
        color: #f39800;
        border-left: 5px solid #f39800;
    }

    .notification.error {
        color: #fb6666;
        border-left: 5px solid #fb6666;
    }

    .notification.important {
        color: #ed5f82;
        border-left: 5px solid #ed5f82;
    }

    .notification.pending {
        color: #8fd6f8;
        border-left: 5px solid #8fd6f8;
    }

.notification-detail {
    font-size: 12px;
    color: #ccc;
}

.notification-button-outer {
    margin-top: 10px;
}

.notification-button {
    background-color: #555;
    color: #bbb;
    font-size: 12px;
    padding: 5px 10px;
    transition: all 0.2s linear;
}

    .notification-button:hover {
        background-color: #ed5f82;
        color: #fff;
        text-decoration: none;
    }

.tab-outer {
    display: none;
}

.tab-outer.active {
    display: block;
}

.textbox {
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    outline: 0;
    background: none;
    font-size: 12px;
}

pre {
    height: 300px;
}

option {
    color: #000;
}

.log {
    color: #fff;
    background: #000;
    padding: 15px;
    margin: 15px;
    width: calc(100% - 60px);
    height: calc(100% - 50px);
    border-radius: 5px;
    font-family: Consolas;
    overflow-y: auto;
}

.log-outer {
    height: calc(100% - 147px);
}