<div>
    <div class="eos-status">EOS运行状态：{{ status }}</div>
    <div class="button-outer" v-on:click="startEos()">
        <div class="button red"><i class="fa fa-power-off"></i></div>
        <div class="button-text">启动EOS</div>
    </div>
    <div class="button-outer" v-on:click="$root.redirect('/contract')">
        <div class="button orange"><i class="fa fa-ticket"></i></div>
        <div class="button-text">EOS智能合约</div>
    </div>
    <div class="button-outer" v-on:click="$root.redirect('/currency')">
        <div class="button blue"><i class="fa fa-btc"></i></div>
        <div class="button-text">代币</div>
    </div>
    <div class="button-outer" v-on:click="$root.redirect('/config')">
        <div class="button yellow"><i class="fa fa-cog"></i></div>
        <div class="button-text">OneBox设置</div>
    </div>
    <div class="button-outer" v-on:click="$root.redirect('/instance')">
        <div class="button green"><i class="fa fa-share-alt"></i></div>
        <div class="button-text">应用实例</div>
    </div>
    <div class="button-outer" v-on:click="stopOneBox()">
        <div class="button gray"><i class="fa fa-stop-circle"></i></div>
        <div class="button-text">终止OneBox</div>
    </div>
</div>