<div>
    <div class="nav-bar">
        <a v-on:click="$root.redirect('/contract')"><i class="fa fa-chevron-left"></i> 返回合约列表</a>
        <a v-on:click="upload()" class="right"><i class="fa fa-upload"></i> 上传合约</a>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div class="form-label">合约名称</div>
        <div class="form-input"><input class="textbox" v-model="name" placeholder="合约名称，如counter" /></div>
        <div class="form-label">{{ name || "untitled" }}.cpp</div>
        <div class="form-input"><pre id="code-editor" class="ace_editor ace-twilight ace_dark"></pre></div>
        <div class="form-label">{{ name || "untitled" }}.hpp (可选)</div>
        <div class="form-input"><pre id="code-editor2" class="ace_editor ace-twilight ace_dark"></pre></div>
    </div>
</div>