<div>
    <div class="nav-bar">
        <a v-on:click="$root.redirect('/')"><i class="fa fa-chevron-left"></i> 返回菜单</a>
        <a v-on:click="$root.redirect('/instance/new')" class="right"><i class="fa fa-plus"></i> 新建实例</a>
        <div class="clear"></div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <td>NAME</td>
                <td>START TIME</td>
                <td>STATUS</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="x in values">
                <td>{{ x.name }}</td>
                <td>{{ x.startTime }}</td>
                <td>{{ x.status }}</td>
                <td><a class="table-command" v-on:click="kill(x.name)"><i class="fa fa-stop"></i> 结束实例</a></td>
            </tr>
        </tbody>
    </table>
</div>