<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/signalr.min.js"></script>
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/vue-router.js"></script>
    <script src="/scripts/vue-lazy-routing.js"></script>
    <script src="/scripts/dasdaq.routing.js"></script>
    <script src="/scripts/ace/ace.js"></script>
    <script src="/scripts/ace/theme-twilight.js"></script>
    <script src="/scripts/ace/ext-language_tools.js"></script>
    <script src="/scripts/ace/mode-c_cpp.js"></script>
    <script src="/scripts/ace/mode-json.js"></script>
    <script src="/scripts/dasdaq.queryview.js"></script>
    <script src="/scripts/dasdaq.js"></script>
    <title></title>
</head>
<body>
    <div class="nav" id="app">
        <div class="nav-logo">
            <img src="/images/dasdaq.svg" />
        </div>
        <div class="nav-ver">EOS OneBox v0.9.0</div>
        <div class="nav-menu">
            <div class="nav-menu-group">EOS测试链</div>
            <div class="nav-menu-item" v-on:click="$root.redirect('/eos')" v-bind:class="{ 'active': $root.control.nav.some(x => x.text === '测试链节点') }"><i class="nav-menu-icon yellow fa fa-link"></i> 测试链节点</div>
            <div class="nav-menu-item" v-on:click="$root.redirect('/eos/contract')" v-bind:class="{ 'active': $root.control.nav.some(x => x.text === '智能合约') }"><i class="nav-menu-icon blue fa fa-ticket"></i> 智能合约</div>
            <div class="nav-menu-item" v-on:click="$root.redirect('/eos/account')" v-bind:class="{ 'active': $root.control.nav.some(x => x.text === '钱包账号') }"><i class="nav-menu-icon green fa fa-lock"></i> 钱包账号</div>
            <div class="nav-menu-item" v-on:click="$root.redirect('/eos/currency')" v-bind:class="{ 'active': $root.control.nav.some(x => x.text === '代币管理') }"><i class="nav-menu-icon pink fa fa-btc"></i> 代币管理</div>
            <div class="nav-menu-group">Dapp</div>
            <div class="nav-menu-item" v-on:click="$root.redirect('/dapp')" v-bind:class="{ 'active': $root.control.nav.some(x => x.text === 'Dapp列表') }"><i class="nav-menu-icon cyan fa fa-microchip"></i> Dapp列表</div>
            <div class="nav-menu-item" v-on:click="$root.redirect('/dapp/git')" v-bind:class="{ 'active': $root.control.nav.some(x => x.text === '通过Git安装Dapp') }"><i class="nav-menu-icon orange fa fa-github"></i> 通过Git安装Dapp</div>
            <div class="nav-menu-item" v-on:click="$root.redirect('/dapp/zip')" v-bind:class="{ 'active': $root.control.nav.some(x => x.text === '上传Zip安装Dapp') }"><i class="nav-menu-icon purple fa fa-file-zip-o"></i> 上传Zip安装Dapp</div>
            <div class="nav-menu-group">OneBox</div>
            <!--<div class="nav-menu-item"><i class="nav-menu-icon orange fa fa-rotate-left"></i> 重置OneBox</div>-->
            <div class="nav-menu-item" v-on:click="$root.stop()"><i class="nav-menu-icon red fa fa-power-off"></i> 终止OneBox</div>
        </div>
        <div class="main">
            <div class="main-title">{{ $root.control.title }}</div>
            <div class="main-nav">
                <span>Dasdaq OneBox</span>
                <template v-for="x in $root.control.nav">
                    &nbsp;
                    <i class="fa fa-angle-double-right"></i>
                    &nbsp;
                    <span v-on:click="tryRedirect(x.to)">{{ x.text }}</span>
                </template>
            </div>
            <router-view></router-view>
            <!-- start notifications -->
            <div class="notification" v-bind:class="{ 'active': control.currentNotification !== null, 'pending': control.currentNotification && control.currentNotification.level === 'pending', 'succeeded': control.currentNotification && control.currentNotification.level === 'succeeded', 'warning': control.currentNotification && control.currentNotification.level === 'warning', 'error': control.currentNotification && control.currentNotification.level === 'error', 'important': control.currentNotification && control.currentNotification.level === 'important' }">
                <div class="notification-title">{{ control.currentNotification ? control.currentNotification.title : null }}</div>
                <div class="notification-detail" v-if="control.currentNotification && control.currentNotification.detail">{{ control.currentNotification ? control.currentNotification.detail : null }}</div>
                <div class="notification-button-outer" v-if="control.currentNotification && control.currentNotification.button">
                    <a class="notification-button" v-on:click="clickNotification">{{ control.currentNotification.button }}</a>
                </div>
            </div>
            <!-- end notifications -->
        </div>
    </div>

</body>
</html>