<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/signalr-client.min.js"></script>
    <script src="/scripts/vue.js"></script>
    <script src="/scripts/vue-router.js"></script>
    <script src="/scripts/vue-lazy-routing.js"></script>
    <script src="/scripts/dasdaq.routing.js"></script>
    <script src="/scripts/ace/ace.js"></script>
    <script src="/scripts/ace/theme-twilight.js"></script>
    <script src="/scripts/ace/ext-language_tools.js"></script>
    <script src="/scripts/ace/mode-c_cpp.js"></script>
    <script src="/scripts/ace/mode-python.js"></script>
    <script src="/scripts/ace/mode-ruby.js"></script>
    <script src="/scripts/ace/mode-csharp.js"></script>
    <script src="/scripts/dasdaq.queryview.js"></script>
    <script src="/scripts/dasdaq.js"></script>
    <title></title>
</head>
<body>
    <div class="main">
        <div class="logo-outer"><img src="/images/dasdaq.svg" /></div>
        <div class="container" id="app">
            <router-view></router-view>
        </div>
    </div>
</body>
</html>